.a-button {
    width: 115px;
    height: 25px;
    background-color: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
}

#landing {

    text-align: center;
}

#diyaAction {
    width: 115px;
    height: 46;
    /* background-color: #4E9CAF; */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}